.day-author {
  .title {
    color: rgba(255, 255, 255, 0.25);
    margin-bottom: -23px;
    text-shadow: 0 0 8px black, 0 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    font-style: oblique;
    font-size: 3.5rem;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;

    @media screen and (max-width: 520px){
      font-size: 2rem;
    }

    @media screen and (max-width: 720px){
      font-size: 3rem;
    }

  }
}



.authors-list,
.authors-list li{
  display: flex;
  flex-direction: column;
}

.author-card {
  display: flex;
  align-items: center;

  @media screen and (max-width: 520px){
    flex-direction: column;
  }


  img {
    width: 300px;

    @media screen and (max-width: 720px) {
      width: 200px;
      margin-bottom: 1.5rem;
    }

  }
}

.author-info {
  display: flex;
  background: #1f1f1f;
}

.author-card {
  background: #1f1f1f;

  @media screen and (max-width: 720px) {
    padding: 20px;
  }

  @media screen and (max-width: 520px) {
    padding: 20px;
  }

}

.author-card-info {
  padding: 3rem;

  @media screen and (max-width: 720px) {
    padding: 0 1rem 0 2rem;
  }
  @media screen and (max-width: 520px) {
    padding: 0 1rem 0 0;
  }
}

.authors-list__li  {
  margin-bottom: 40px;
}


.author-page {
  caption {
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 0 0 8px black, 0 2px 4px rgba(0, 0, 0, 0.7);
    font-style: oblique;
    font-size: 2rem;
    font-weight: 900;
  }
}

.author-video, .author-gallery {
  display: flex;
  flex-direction: column;

  h3 {
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 0 0 8px black, 0 2px 4px rgba(0, 0, 0, 0.7);
    font-style: oblique;
    font-size: 2rem;
    font-weight: 900;
    margin: 20px 0;
  }

  button {
    margin-bottom: 20px;
  }

  img {
    width: 100%;

  }

}
