.navigation {

  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    li {
      padding: 10px;


      a {
        color: #ffffff;
        text-decoration: none;
        opacity: 0.6;

        &.active-page {
          opacity: 1;
          font-weight: 600;
        }
      }


    }
  }

  @media screen and (max-width: 520px){
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: #e0e0e0;


    ul {
      flex-direction: column;


      li a {
        color: #1f1f1f;
      }
    }
  }

  .close {
    display: none;
    @media screen and (max-width: 520px) {
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      background-image: url('../../static/img/close.png');
    }
  }
}

.menu {
  display: none;
  @media screen and (max-width: 520px){
    display: block;
    width: 28px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-image: url('../../static/img/menu.png');
  }
}

