.navigation {

  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

    li {
      padding: 10px;


      a {
        color: #ffffff;
        text-decoration: none;
        opacity: 0.6;

        &.active-page {
          opacity: 1;
          font-weight: 600;
        }
      }


    }
  }
}
